    <header id="topnav">
        <!-- Top Navigation Menu -->
        <div id="siteName">
        <a href="/trails" class="active"><img id="navLogo" src="/static/images/navbar-logo.png"></a>
        </div>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href="/user/login">Login</a>
            <a href="/user/signup">Sign Up</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </header>