    <header class="topnav">
        <!-- Top Navigation Menu -->
        <div id="siteName">
        <a href="/trails" class="active"><img id="whiteLogo" src="/static/images/flower_logo-white.png"></a>
        </div>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href="#login">Login</a>
            <a href="#Signup">Sign Up</a>
            <!-- <a href="#about">About</a>
            <a href=""></a>
            <a href=""></a> -->
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </header>