<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/user_header.ejs") %>
    <div class="results">
            <div class="list" id="trails">
                <h2><%= user.username %>'s Saved Hikes </h2>
            </div>  
    </div>
</body>
</html>