<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <div id="splash">
        <div class="logo"><img src="/static/images/hiking-logo-white.png"></div>
        <div class="search">
            <h3>Looking for easy and enjoyable trails that the whole family can experience together? Consider the trails of Mount Rainier National Park.</h3>

        </div>
        </div>
    </main>
    <section class="results">

    </section>
</body>