<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <main>
    <%- include("partials/header.ejs") %>

        <div id="splash">
            <div class="logo"><img src="/static/images/hiking-logo-white.png"></div>
            <div class="search">
                <h3>Looking for easy and enjoyable trails the whole family can experience? Consider the trails of Mount Rainier National Park.</h3>
                <div id="locationSearch">
                    <form class="options" action="/trails/results" method="GET">
                        <select name="locations" id="locations">
                            <option value="choose">Choose an Area</option>
                            <option value="Longmire Area">Longmire Area</option>
                            <option value="Paradise Area">Paradise Area</option>
                            <option value="Ohanapecosh Area">Ohanapecosh Area</option>
                            <option value="Sunrise Area">Sunrise Area</option>
                            <option value="Carbon River & Mowich Area">Carbon River & Mowich Area</option>
                        </select>
                        <button>Find Trails</button>
                    </form>
                                        
                </div>
            </div>
        </div>
    </main>
</body>
</html>