<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <div class="loginForm">
        <div class="loginImage">
            <img id="loginImg" src="/static/images/AdobeStock_370848936.jpeg">
        </div>
        <div class="loginFields">
            <!-- <% include ("partials/messages") %> -->
            <h2>Welcome back! </h2>
            <form action="/user/login" method="post">
                <fieldset>
                    <legend>Log in to continue</legend>
                    <label>Username <br><input class="inputBox" type="text" name="username" required></label><br>
                    <label>Password <br><input class="inputBox" type="text" name="password" required></label><br>
                    <input class="submitLogin" type="submit" value="Login">
                </fieldset>
            </form>
        </div>
    </div>
            
</body>
</html>