
header {
    display: flex;
    background-color: white;
    max-width: 1000px;
    justify-content: space-between;
}

body {
    color: rgb(40, 39, 39);
    width: 80%;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    max-width: 1000px;
    
}

main {
    max-height: 768px;
    width: 100%;
    margin: auto;
    background-image: url("images/hiking_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#splash {
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    padding-top: 150px;
    padding-bottom: 150px;
}

.logo img {
    max-width: 275px;
}

.search {
    /* padding-top: 150px; */
    width: 40%;
}

select, button {
    font-family: 'Raleway', sans-serif;

}


/* Style the navigation menu */
#topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#topnav #myLinks {
    display: none;
    margin-right: 50px;

}

/* Style navigation menu links */
#topnav a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    display: block;
}

/* Style the hamburger menu */
#topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    /* padding: 14px 16px; */
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
#topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #2e4c0f;
    color: white;
    max-height: 48px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


#navLogo {
    max-height: 30px;
    padding: 0;
}

#siteName {
    max-height: 48px;
    padding: 0;
}

/******************************************
/* search results
/******************************************/

h1 {
    margin-top: 20px;
    text-align: center;
}


.results {
    margin: auto;
    display: flex;
    justify-content: center;
    /* width: 80%; */
}

#trails {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}

#trailBoxes {
    display: grid;
    width: fit-content;
    border: 1px solid #696962;
    margin: 10px;
    background-color: white;
    justify-items: center;
    align-items: center;

}

#trailBoxes h4, h5 {
    color: white;
    font-size: 1.75vh;
    margin: 2px;
    text-align: center;
    padding: 5px;
}

#trailImg img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 10px;
}

a {
    text-decoration: none;
}

#trailName {
    width: 100%;
    height: 50px;
    background-color: #2e4c0f;
}

/**************************************/
/* Trail Detail Page */
/**************************************/

.trailDetail {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    grid-auto-flow: row;
    margin: auto;
    margin-top: 20px;
    gap: 20px;
    background-color: white;
    max-width: 1000px;
    width: 90%;
}

.info {

}

.map {
    max-height: 350px;
}
.map img {
    object-fit: cover;
    width: 100%;
    height: 350px;
    cursor: pointer;
    transition: 0.3s;
}

.largeImg {
    max-height: 250px;
}

.largeImg h5 {
    color:rgb(40, 39, 39);
    text-align: left;
}

#trailImg {
    object-fit: cover;
    width: 100%;
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
}

.directions {
    background-color: #2e4c0f;
    color: white;
    padding: 20px;
}

.directions p {
    /* padding: 20px; */
}

/****************************************/
/* Image Enlargement Modal */
/****************************************/

#map:hover, #trailImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */
.modal1, .modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/****************************/
/* END MODAL */
/****************************/